/* Basic layout styling */
body {
  background-color: #1a1a1a;
  color: white;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

/* Layout wrapper */
.tracker-layout {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  min-height: 100vh;
  min-width: 100vw;
}

.profile-card {
  width: 300px;
  border: 2px solid #444;
  text-align: center;
}
